site_name: Handbook da Subsecretaria de Planejamento e Orçamento (SPLOR)

# Repository
repo_name: splor-mg/handbook
repo_url: https://github.com/splor-mg/handbook
edit_uri: edit/main/docs/

# --8<-- [start:nav]
nav:
  - index.md
  - Blog:
    - blog/index.md
  - Linha do Tempo:
    - linha_do_tempo/index.md
    - Projeto Dados Abertos MG: linha_do_tempo/projeto_dados_abertos_mg.md
  - Gestão SPLOR:
    - gestao_splor/index.md
    - Governança:
      - gestao_splor/governanca/index.md
      - Equipes: gestao_splor/governanca/equipes.md
      - Papéis e Permissões: gestao_splor/governanca/papeis.md
      - Duplo Fator de Autenticação: gestao_splor/governanca/duplo_fator_autenticacao.md
      - Bitwarden Cofre de Senhas: gestao_splor/governanca/bitwarden_cofre_senhas.md
    - Ferramentas:
      - gestao_splor/ferramentas/index.md
      - gestao_splor/ferramentas/git.md
      - gestao_splor/ferramentas/instalacao.md
    - Repositórios:
      - gestao_splor/repositorios/nomenclaturas.md
      - gestao_splor/repositorios/publico_privado.md
    - Atividades (Issues):
      - gestao_splor/issues/labels.md
      - gestao_splor/issues/tipos.md
    - Branches (Galhos):
      - gestao_splor/branches/index.md
    - Pull Requests:
      - gestao_splor/pull_requests/index.md
    - Gestão à Vista:
      - gestao_splor/gestao_vista/projetos.md
      - gestao_splor/gestao_vista/status.md
      - gestao_splor/gestao_vista/datas.md
  - FAQ:
    - faq/index.md
  - Diretorias:
    - diretorias/index.md
    - DCAF:
      - diretorias/dcaf/sobre.md
      - diretorias/dcaf/links_uteis.md
      - diretorias/dcaf/index.md


# --8<-- [end:nav]

# Configuration
theme:
  name: material
  language: pt
  logo: assets/logo-brasao-mg.png
  custom_dir: overrides
  features:
    # - announce.dismiss
    - content.action.edit
    - content.action.view
    - navigation.footer
    - content.code.annotate
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    # - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    logo: logo

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.keys
  - abbr
  - footnotes
  - attr_list
  - pymdownx.tasklist  # Lista de tarefas
  - pymdownx.emoji  # Emojis
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - md_in_html
  - toc:
      permalink: ⚓︎
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets:
      url_download: true
      auto_append:
        - abbreviations.md

extra_css:
  - assets/style.css
  - https://unpkg.com/mermaid@10.4.0/dist/mermaid.css
extra_javascript:
  - assets/style.js
  - https://unpkg.com/mermaid@10.4.0/dist/mermaid.min.js

extra:
  social: # Footer
    - icon: fontawesome/solid/diagram-project
      name: Projeto Automatiza-MG
      link: https://automatiza-mg.github.io/automatizacoes/
    - icon: fontawesome/brands/youtube
      name: Canal automatiza-mg no YouTube.
      link: https://www.youtube.com/@automatiza-mg
    - icon: fontawesome/solid/flag
      name: Material for MkDocs Icons, Emojis.
      link: https://squidfunk.github.io/mkdocs-material/reference/icons-emojis/#search

plugins:
  - git-revision-date-localized:
      enable_creation_date: true
      type: datetime
      enable_creation_date: true
  - search:
      lang: pt
  - blog:
      post_url_format: "{slug}"
      archive: false
      categories_toc: true
      post_excerpt: required
  - tags
  - mkdocs-video:
      video_muted: True
      video_controls: True
      video_autoplay: False
